<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="kr.or.yi.food_mgm_program.dto"/>
	</typeAliases>
	
	<typeHandlers>
		
	</typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="kr.or.yi.food_mgm_program.jdbc.C3P0DataSourceFactory">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="kr/or/yi/food_mgm_program/dao/FoodKindMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/MenuMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/ManagerMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/NoManagerMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/FoodMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/MemberMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/CouponMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/GradeMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/SaleMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/SalesStatusMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/PaymentMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/PostMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/ReservationMapper.xml"/>
		<mapper resource="kr/or/yi/food_mgm_program/dao/MemberCouponMapper.xml"/>
	</mappers>
</configuration>