<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.yi.food_mgm_program.dao.FoodMapper">

	<resultMap type="Food" id="resultFood">
		<id column="fd_no" property="fdNo"/>
		<result column="price" property="price" />
		<result column="name" property="name" />
		<association property="fkNo" resultMap="kr.or.yi.food_mgm_program.dao.FoodKindMapper.resultFoodKind"/>
	</resultMap>
	
	<resultMap type="Food" id="resultFoodBJY" extends="resultFood">
		<association property="fkNo" resultMap="kr.or.yi.food_mgm_program.dao.FoodKindMapper.resultFoodKind"/>
	</resultMap>
	
	<select id="selectFoodByAll" resultMap="resultFoodBJY">
		select f.fd_no, f.name, f.price, fk.name from food f join foodkind fk on f.fk_no = fk.fk_no
	</select>
	
	<insert id="insertFood" parameterType="Food">
		insert into food values (#{fdNo},#{price},#{name},#{fkNo.fkNo})
	</insert>
	
	<select id="selectByNo" resultType="Food" parameterType="Food">
		select fd_no, name, price from food where fk_no = #{fkNo.fkNo}
	</select>
	
	<update id="updateFood" parameterType="Food">
		update food set price = #{price}, fk_no = #{fkNo.fkNo} where name = #{name}
	</update>
	
	<delete id="deletFood" parameterType="Food">
		delete from food where fd_no = #{fdNo};
	</delete>
</mapper>

