<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.yi.food_mgm_program.dao.FoodMapper">

	<resultMap type="FoodKind" id="abcd">
		<result property="fkNo" column="fkNo" />
	</resultMap>

	<resultMap type="Food" id="foodResult">
		<result property="price" column="price" />
		<result property="name" column="name" />
		<collection property="fkNo" resultMap="abcd"></collection>
	</resultMap>
	
	<select id="selectFoodByAll" resultMap="foodResult">
		select f.name, f.price, fk.fk_no
		from food f
		join foodkind fk
		on f.fk_no = fk.fk_no
	</select>
	
</mapper>

